.file-upload-container {
  padding: 2rem;
  background-color: #222222;
  color: white;
  border-radius: 10px;
  max-width: 600px;
  margin: 2rem auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

h2, h3 {
  color: #1dcd9f;
}

.upload-section {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.upload-section input,
.upload-section button {
  margin-right: 1rem;
  padding: 0.5rem;
  background-color: #1dcd9f;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.upload-section input[type="file"] {
  background-color: #000000;
  color: #fff;
  border: 1px solid #169976;
}

.upload-section button:disabled {
  background-color: #169976;
  cursor: not-allowed;
}

.table-section {
  margin-top: 2rem;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #222222;
  margin-top: 20px;
}

.data-table th,
.data-table td {
  padding: 0.75rem;
  border: 1px solid #1dcd9f;
}

.data-table th {
  background-color: #1dcd9f;
}

.data-table th:nth-child(1),
.data-table td:nth-child(1) {
  width: 50%; /* Ajusta según lo que necesites */
}

.data-table th:nth-child(2),
.data-table td:nth-child(2) {
  width: 50%; /* Ajusta según lo que necesites */
}

.files-list ul {
  list-style: none;
  padding-left: 0;
}

.files-list li {
  background-color: #000000;
  padding: 0.6rem;
  border-radius: 6px;
  margin-bottom: 0.5rem;
  border: 1px solid #1dcd9f;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.pagination button {
  padding: 0.5rem 1rem;
  background-color: #169976;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.pagination button.active {
  background-color: #1dcd9f;
  font-weight: bold;
}

.pagination button:hover {
  background-color: #1dcd9f;
  color: #000000;
}

.unauthorized {
  text-align: center;
  color: #ff4d4f;
  font-weight: bold;
  margin-top: 2rem;
}

.ellipsis {
  margin: 0 5px;
  font-weight: bold;
}

.refresh-button {
  margin-top: 20px;
}