.verify-code-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: rgba(255, 255, 255, 0.87);
}


.form-group {
  margin-bottom: 1.5rem;
}

.form-group label{
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #555;
  text-align: left;
  padding-top: 20px
}

.form-group input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  color: black;
}

.form-group input:focus {
    outline: none;
    border-color: #1DCD9F;
    box-shadow: 0 0 2px rgba(33, 136, 113, 0.2);
}

.field-error {
  color: #e53935;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.verify-code-button:disabled {
  background-color: #1a1a1a; 
  cursor: not-allowed; 
  opacity: 0.6; 
}

.verify-code-description {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #555;
}